<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script defer src="page3.js"></script>
    <title>Sing in</title>
</head>

<body>
    <div class="form_container">
        <a href="index.html" class="back_button"><img src="images/Arrows_button.svg" alt="Back button"></a>

        <div class="signin-form">
            <div class="signin-form_p">

                <h1 class="signin-form_h1">Создайте профиль</h1>

                <form id="form" class="signin-form_profile">
                    <div class="input-control input-control_wrp">
                        <input id="username" class="input_style" type="text"  name="username" required>
                        <span class="floating-label">Имя пользователя</span>
                        <div class="error" id="error_m"></div>
                    </div>
                    <div class="input-control input-control_wrp">
                        <input id="email" class="input_style" type="text" name="email" required>
                        <span class="floating-label">Электронная почта</span>
                        <div class="error" id="error_m"></div>
                    </div>
                    <div class="input-control input-control_wrp">
                        <input id="password" class="input_style" type="password" name="password" required>
                        <span class="floating-label">Пароль</span>
                        <div class="error" id="error_m"></div>
                    </div>
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox">Запомнить меня</label>
                    <button type="submit" class="b1">Продолжить</button>
                </form>

            </div>
        </div>

        <div class="signin-form">
            <div class="signin-form_social">
                <h1 class="signin-form_h1">Создайте профиль с помощью</h1>
                <button class="signin-form_social_googlebutton">Google</button>
                <button class="signin-form_social_fbbutton">Вконтакте</button>
                <button class="signin-form_social_applebutton">Apple ID</button>
                <a href="page2.html"><h2>У Вас уже есть профиль на сайте?</h2></a>
            </div>
        </div>

        <div class="form-middle">
            <div class="form-middle_line1"></div>
            <p id="form-middle_text">Или</p>
            <div class="form-middle_line2"></div>
        </div>

    </div>
         
</body>
</html>