{% extends "object/default.html" %} 
{% block title %}Вещи из категории {{category}}{% endblock %}

{% block content %}
<table border="1">
	<tr>
		<td>
			Название
		</td>
		<td>
			Дата добавления
		</td>
		<td>
			Категория
		</td>
		<td>
			Фото
		</td>

	</tr>

{% for thing in things %}
	<tr>
		<td>
			<a href="{% url 'obj_detail' thing.id %}">{{thing.name}}</a><br>
			<a href="">Изменить</a>
			<a href="{% url 'obj_delete' thing.id %}">Удалить</a>
		
		</td>
		<td>
			{{thing.created|date:'d M Y'}}
		</td>
		<td>
			{{thing.category__name}}
		</td>
		<td>
			{% for photo in photos %}
				{% if photo.obj == thing %}
					<img src="{{ photo.image.url }}" width="70px">
				{% endif %}
			{% endfor %}
		</td>

	</tr>
	
	
	{% endfor %}
    </div>

{% endblock %}