{% extends "object/default.html" %} 
{% block title %}
    Добавление вещи
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.name_of_field.errors }} 
        {{ field.errors }}
        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Название:</label>
            {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {{ form.dis.errors }}
            <label for="{{ form.dis.id_for_label }}">Описание:</label>
            {{ form.dis }}
        </div>
        <div class="fieldWrapper">
            {{ form.storage.errors }}
            <label for="{{ form.storage.id_for_label }}">Место:</label>
            {{ form.storage }}
        </div>
        <div class="fieldWrapper">
            {{ form.category.errors }}
            <label for="{{ form.category.id_for_label }}">Категория:</label>
            {{ form.category }}
        </div>
        <div class="fieldWrapper">
            {{ form.photos.errors }}
            <label for="{{ form.photos.id_for_label }}">Фотография:</label>
            {{ form.photos }}
        </div>
        <button type="submit">Сохранить</button>
    </form>
{% endblock %}
