{% extends "object/default.html" %} 
{% block title %}
    Добавление вещи
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}

        <p><label for="id_name">Название:</label>
            <input id="id_name" type="text" name="name" maxlength="100" required></p>
        <p><label for="id_dis">Описание:</label>
            <textarea name="dis" id="id_dis" required></textarea></p>
        <p><label for="id_category">Категория:</label><label for="id_storage">Место хранения:</label>
            <input type="checkbox" name="category" id="id_category"></p>

        <button type="submit">Сохранить</button>
        {{form.category}}
    </form>
{% endblock %}
