{% extends "object/default.html" %} 
{% block title %}
    {{ post.name }}
{% endblock %}

{% block content %}
<style>
	table{
	  margin: 50px 0px;
	  text-align: left;
	  border: 1px solid rgb(0, 0, 0);
	  width: 100%;
	  border-collapse: collapse;
	}
	td,th{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    vertical-align: top;
  }

</style>
    <table>
        <tr>
            <td>
        <p>Название: {{ obj.name }}</p>
        <p>Описание:  {{ obj.description }}</p>
        <p>Категория:  {{ obj.category }}</p>
        <p>
            <a href="">Редактировать</a> / 
            <a href="">Добавить фото</a> / 
            <a href="{% url 'obj_delete' obj.id %}">Удалить</a>
        </p>
            </td>
            <td>

        {% for i in pic %}
            <div>
                <img src="{{ i.image.url }}">
                <a href="{% url  'photo_delete' i.id %}">Удалить фото</a>
            </div>
        {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
