<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/style3.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Card</title>
</head>
<body>
    <header class="header-newCard">
        <div class="header-newCard_div">
          <a href="{% url 'obl_list' %}"><img class="arrows-button" src="/static/assets/images/Arrows_button.svg" alt=""></a>
            <h1>Карточка вещи</h1>
          <a href="{% url 'obl_list' %}"><img class="close-button" src="/static/assets/images/Close_button.svg" alt=""></a>
        </div>
    </header>
    <main>
        <div class="main__container">
          <div class="main__container">
            <div class="container-card">
              <ul class="container-card__list">
                <li class="container-card__list-item4">
                  <h3>{{ obj.name }}</h3>
                </li>
                <li class="container-card__list-item5">
                  {% for photo in photos %}
                    <h3><img src="{{ photo.image.url }}" width="150px" alt=""></h3>
                  {% endfor %}
                </li>
                <li class="container-card__list-item1">Категория <h3>{{ obj.category }}</h3> </li>
                <li class="container-card__list-item2">Место хранения<h3>{{ obj.storage }}</h3> </li>
                <li class="container-card__list-item3">Описание <h3>{{ obj.description }}</h3> </li>
              </ul>
            </div>
            <a href="{% url 'obj_edit' obj.id %}"><button class="main__container-button">Редактировать</button></a>
          </div>
    </main>
</body>
</html>