<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Card</title>
</head>
<body>
    <header class="header-newCard">
        <div class="header-newCard_div">

          <h1 class="header-newCard_div_h1">Карточка вещи</h1>
        <img class="close-button" src="images/Close_button.svg" alt="">
        </div>
      </header>


    <main>
      <div class="main__container">
        <div class="container-card">
          <ul class="container-card__list">
            <li class="container-card__list-item4"><h3>dddd</h3> </li>
            <li class="container-card__list-item5"><h3 class="icon1"><img src="" alt=""></h3><h3 class="icon2"><img src="" alt=""></h3><h3 class="icon3"><img src="" alt=""></h3><h3 class="icon4"><img src="" alt=""></h3><h3 class="icon5"><img src="" alt=""></h3></li>

            <li class="container-card__list-item1">Категория <h3>ddddd</h3> </li>
            <li class="container-card__list-item2">Место хранения<h3>dddd</h3> </li>
            <li class="container-card__list-item3">Описание <h3>ssssss</h3> </li>
          </ul>
        </div>

              
              <a href="page3.html"><button class="main__container-button">Зарегистрироваться</button></a>
              <a href="page2.html"><button class="main__container-button-enter">Войти</button></a>


          </div>
    </main>
    
</body>
</html>