<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style3.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Card</title>
</head>
<body>
    <header class="header-newCard">
        <div class="header-newCard_div">
        <a href="page5.html"><img class="arrows-button" src="images/Arrows_button.svg" alt=""></a>
          <h1>Карточка вещи</h1>
        <a href="page5.html"><img class="close-button" src="images/Close_button.svg" alt=""></a>
        </div>
      </header>


    <main>
        <div class="main__container">
            <div class="container-card">
              <ul class="container-card__list">
                <li class="container-card__list-item4"><h3>dddd</h3> </li>
                <li class="container-card__list-item5"><h3 class="icon1"><img src="" alt=""></h3><h3 class="icon2"><img src="" alt=""></h3><h3 class="icon3"><img src="" alt=""></h3><h3 class="icon4"><img src="" alt=""></h3><h3 class="icon5"><img src="" alt=""></h3> </li>

                <li class="container-card__list-item1">Категория <h3>ddddd</h3> </li>
                <li class="container-card__list-item2">Место хранения<h3>dddd</h3> </li>
                <li class="container-card__list-item3">Описание <h3>ssssss</h3> </li>
              </ul>
            </div>

            <a href="page8.html"><button class="main__container-button">Редактировать</button></a>
            <button class="main__container-button1">Удалить</button>
          <button class="main__container-button2">Поделиться</button>
          </div>

          <div class="modal-shering">
            <div class="modal_main-shering">
                <input class="shering_input" type="text" name="modal-shering" placeholder="Text"> 
                <img class="shering-frame" src="images/Frame.svg" alt="frame">
            </div>
          </div>

          <div class="modal-delete">
            <div class="modal_main-delete">

              <h2 class="modal_title-delete">Вы действительно хотите удалить эту вещь?</h2>
              
              <button class="modal-delete_button1">Да</button>
              <button class="modal-delete_button2">Нет</button>

            </div>
          </div>

    </main>

    <script src="main.js"></script>
    
</body>
</html>