{% extends "object/default.html" %}

{% block title %}Место хранеия {{storage}}{% endblock %}

{% block content %}

<style>
	table{
	  margin: 0px 0px;
	  text-align: left;
	  border: 1px solid rgb(0, 0, 0);
	  width: 100%;
	  border-collapse: collapse;
	}
	td,th{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
	vertical-align: top;
	}
</style>

{% if obj %}

				<table>
					<tr>
						<th>
							Название
						</th>
						<th>
							Дата добавления
						</th>
						<th>
							Категория
						</th>
						<th>
							Пользователь
						</th>
						<th>
							Фото
						</th>
					</tr>
				{% for thing in obj %}
					<tr>
						<td>
							<p>
								<a href="{% url 'obj_detail' thing.id %}"><b>{{thing.name}}</b></a> / 
								<a href="{% url 'obj_edit' thing.id %}">Изменить</a> / 
								<a href="{% url 'obj_delete' thing.id %}">Удалить</a>
							</p>
						</td>
						<td>
							{{thing.created|date:'d M Y'}}
						</td>
						<td>
							{{thing.category}}
						</td>
						<td>
							{{thing.owner}}
						</td>
						<td>
							{% for photo in photos %}
								{% if photo.obj == thing %}
									<img src="{{ photo.image.url }}" width="70px">
								{% endif %}
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</table>

{% else %}
<p>У пользователя <b>{{ request.user.username }}</b> нет вещей в этом месте. </p>
{% endif %}
<br>
<a class="nav-link" href="{% url 'obj_add' %}"><b>Добавить вещь</b></a>
{% endblock %}