body {
    width: 1440px;
    height: 1024px;
    position: relative;
    margin: 0 auto; 
}


.form_container {
    background: #FFFFFF;
    display: flex;
   
}


.gray {
    width: 720px;
    height: 1024px;
    left: 0px;
    top: 0px; 
    background: #D9D9D9;  
}

.form_login {
    width: 720px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.authorization-form {
    width: 720px;
    height: 1024px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-form {
    position: absolute;
    width: 500px;
    height: 489px;
    left: 120px;
    top: 255px;
}

.signin-form_h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}

.signin-formp_h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}


.authorization-form_h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}

.login-form_h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}


h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: -19px;
}


button {
    width: 500px;
    height: 60px;
    border: none;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



button:hover {
    cursor: pointer;
    background: #F0F0F0;
    border: 1px solid #000000;
    border-radius: 10px;
}



button:active{
    background: #8D8D8D;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}



.button_two {
    width: 500px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



.login-form_social_googlebuton {
    width: 500px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



.login-form_social_fbbutton {
    width: 500px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



.signin-form_social_fbbutton {
    width: 500px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



.signin-form_social_googlebutton {
    width: 500px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



.button_three {
    width: 500px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



.login-form_social_applebutton{
    width: 500px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



.signin-form_social_applebutton {
    width: 500px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #000000;

}



.login {
    width: 720px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.form_social {
    height: 524px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 245px;
    justify-content: space-between;
}

.authorization-form_login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

}


.login_container_left {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-top: 65px;
}


.login-form_profile{
    height: 489px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;


}

.login-form_profile_input{
    height: 489px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}



.input_style {
    width: 500px;
    height: 55px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 0px;  
    padding-left: 20px;
    border: 1px solid #8D8D8D;
    border-radius: 10px;


    
}





input[type="checkbox"] {
    display: none;
    cursor: pointer;
}



label {
    padding-left:20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
   

    color: #000000;
}

label::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #8D8D8D;
    box-sizing: border-box;
    cursor: pointer;


}

input[type="checkbox"]:checked + label::before {
    content: '';
    background-size: 33.5px;
    background-image: url(/static/assets/images/Vector\ 1.svg);
   
}

#username.active {
    font-size: 10px;
    color: #abc;
    margin-top: -20px;
    background-color: white;
  }



    
.login-form_social {
    height: 489px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.b1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #8D8D8D;
}


.back_button {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 80px;
    top: 80px;

}

.back_button:hover {
    position: absolute;
    background-color: #FAFAFA;
    border-radius: 20px;   
}




#form-middle_text {
    margin-top: 490px;
    margin-left: 703px;
    position: absolute;
    width: 37px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
}



.form-middle_line1 {
    position: absolute;
    width: 0px;
    height: 300px;
    border: 1px solid #8D8D8D;
    margin-top: 190px;
    margin-left: 720px;
    z-index: 1;
}



.form-middle_line2 {
    position: absolute;
    width: 0px;
    height: 300px;
    border: 1px solid #8D8D8D;
    margin-top: 520px;
    margin-left: 720px;
}



.form-middle {
    position: absolute;
    margin-left: 7px;
}

.login_container_left_three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    height: 599px;
    width: 500px;
  
    
}

.signin-form_p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    height: 599px;
    width: 500px;
  
    
}

.login_container_right_three { 
    height: 599px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

}

.signin-form_social {  
    height: 599px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

}




.error {
    width: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #F47373;

}




.signin-form {
    position: absolute;
    width: 500px;
    height: 483px;
    left: 820px;
    top: 255px;
}

.signin-form_p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    height: 599px;
    width: 500px;
}

.signin-form_profile {
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.input-control_wrp {
	position: relative;
	width: 50%;
}


.input-control_wrp .inputText{
	width: 100%;
 	box-shadow: none !important;
}


.input-control_wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 15px;
	left: 20px;
	transition: 0.1s ease all;
    width: 460px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #8D8D8D; 
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


.input-control_wrp input:focus ~ .floating-label,
.input-control_wrp input:not(:focus):valid ~ .floating-label{
	top: -10px;
	left: 20px;
    width: auto;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #8D8D8D;
    flex: none;
    order: 0;
    flex-grow: 0;
}



.input_style {
    width: 500px;
    height: 55px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 0px;  
    padding-left: 20px;
}



.input_style:hover {
border: 1px solid #000000;
border-radius: 10px;
}










/* for phone */

@media (max-width: 760px) {

    body {
        width: 360;
        position: relative;
    }

    .authorization-form_h1 {
        position: absolute;
        width: 350px;
        height: 117px;
        left: 20px;
        top: 8px;
        font-size: 25px;



    }

    .authorization-form {
        position: absolute;
        width: 360px;
        left: 5px;
        display: flex;
        justify-content: start;
        flex-direction: column;



        
        
        

    }




    .gray {
        display: none;
    }



    div h2:first-of-type {
        margin-top: 175px;

    }

    div h2:nth-of-type(2) {
        margin-top: 35px;



    }


    button {
        position: absolute;
        width: 320px;
        height: 60px;
        left: 20px;
        top: 222px;
    }

    .button_two {
        position: absolute;
        width: 320px;
        height: 60px;
        left: 20px;
        top: 364px;
    }

    .h2_ul {
        position: absolute;
        text-decoration-line: underline;
        left: 20px;
        top: 300px;

    }

    /* page 2 */

    body {
        width: 360;
        position: relative;
    }

    .login-form{
        position: absolute;
        top: 0px;
        left: 10px;
        width: 340px;
        

    }

    .signin-form_profile {
        gap: 20px;
        margin-top: -20px;
    }

    .input_style {
        width: 320px;
        height: 60px;
    }

  

    .login-form_h1 {
        margin-left: 47px;

    }

    .back_button {
        top: 16px;
        left: 20px;
    }

    .b1 {
        position: absolute;
        width: 320px;
        height: 60px;
        left: 10px;
        top: 500px;
    }

    .signin-form {
        top: 550px;
        left: 10px;
        width: 320px;
        height: 200px;

    }

    .signin-form_social {
        width: 320px;
        height: 200px;

    }

    .signin-form_social_googlebutton {
        width: 320px;
        height: 60px;
        top: 190px;
        left: 10px;
    }

    .signin-form_social_fbbutton {
        width: 320px;
        height: 60px;
        top: 275px;
        left: 10px;
    }

    .signin-form_social_applebutton {
        width: 320px;
        height: 60px;
        top: 360px;
        left: 10px;
    }

    .signin-form_h1 {
        display: none;
    }

    div h2:first-of-type {
        margin-top: 290px;
    }

    .form-middle{
        top: 50px;
    }

    .form-middle_line1 {
        height: 0px;
        width: 132px;
        margin-left: 6px;
        margin-top: 600px;
    }

    .form-middle_line2 {
        height: 0px;
        width: 132px;
        margin-left: 207px;
        margin-top: 600px;
    }

    #form-middle_text {
        margin-top: 585px;
        margin-left: 156px;
    }

    .signin-formp_h1 {
        margin-left: 47px;
        

    }








    








    





















}